*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer__button{
    background-color: blueviolet;
}
.navbar__text{
    font-family: 'Macondo', cursive;
}
.section__title {
    font-family: 'Macondo', cursive;
}
.section__subtitle {
    font-family: 'Macondo', cursive;
    text-decoration: underline;
}
.section__card{
    font-family: 'Indie Flower', cursive;
    text-indent: 1rem;
}
.section__links{
    text-decoration: none;
    color: black;
}
.section__img:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
   
.footer__title{
    font-family: 'Macondo', cursive;
}
